/* USO TEMPORAL. ELIMINAR SECCIÓN AL FINAL DEL PROYECTO */
#PALETA_DE_COLORES {
	color: #881b21 #f2f2f2 #952d33 #060503;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	background-color: #060503;

	font-family: 'Lato', sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #f2f2f2;
}

header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	z-index: 8;

	position: fixed;
	width: 100%;
	height: 80px;

	background: #060503;
	box-shadow: 0 1px 7px rgba(149, 45, 51, 0.75);
}

#logo {
	height: 60px;
	width: auto;
	display: flex;
	margin: 10px;
}

#logo > img {
	height: auto;
	padding: 3px;
}

nav {
	height: 60px;

	display: flex;
	justify-content: space-between;
	align-items: center;

	font-size: 1.3rem;
	font-weight: 700;
}

nav ul {
	display: flex;
	justify-content: space-evenly;
	list-style: none;
}

nav li {
	padding: 1rem 2rem;
}

nav a {
	text-decoration: none;
	color: #952d33;
}

nav li:hover {
	background-color: rgba(26, 25, 23, 0.5);
	border-radius: 10px;
}
