:root {
	--title-font: 'Playfair Display', serif;
	--body-font: 'Lato', sans-serif;
	--font-size: 18px;

	--title-font-weight-bold: 600;
	--title-font-weight-light: 400;
	--body-font-weight-normal: 400;
	--body-font-weight-bold: 700;
	--body-font-weight-light: 300;

	--background-color: hsl(35, 27%, 70%);
	--background-color-dark: hsl(35, 27%, 60%);

	--primary-color: hsl(212, 21%, 26%);
	--secondary-color: hsl(168, 23%, 30%);
	--tertiary-color: hsl(346, 40%, 27%);

	--primary-color-light: hsl(210, 37%, 70%);
	--secondary-color-light: hsl(168, 23%, 50%);

	--color-white: #ffffff;

	--shadow-color-dark: hsl(0, 0%, 0%);
	--shadow-color-semi-dark: hsla(0, 0%, 0%, 0.9);
	--shadow-color-normal: hsla(0, 0%, 0%, 0.5);

	--header-height: 80px;
	--nav-height: 60px;
}

/* #region GENERAL */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	background-color: var(--background-color);
	font-size: var(--font-size);
}

p {
	font-family: var(--body-font);
	font-weight: var(--body-font-weight-normal);
	color: var(--primary-color);
}
/* #endregion */

/* #region HEADINGS */
h1,
h2,
h3 {
	font-family: var(--title-font);
	margin: 10px 0px;
	color: var(--secondary-color);
}

h1 {
	font-size: 7rem;
	font-weight: var(--title-font-weight-bold);
}

h2 {
	font-size: 3rem;
	font-weight: var(--title-font-weight-bold);
}
h3 {
	font-size: 2rem;
	font-weight: var(--title-font-weight-light);
}
/* #endregion */

/* #region HEADER */
/* HEADER */
header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	z-index: 8;

	position: fixed;
	width: 100%;
	height: var(--header-height);

	background: var(--background-color);
	box-shadow: 0 1px 3px var(--shadow-color-semi-dark);
}

#logo {
	height: 60px;
	width: auto;
	display: flex;
	margin: 10px;
}

#logo > img {
	height: auto;
	padding: 3px;
}

nav {
	height: var(--nav-height);

	display: flex;
	justify-content: space-between;
	align-items: center;

	font-family: var(--body-font);
	font-size: 1.3rem;
	font-weight: var(--body-font-weight-bold);
}

nav ul {
	display: flex;
	justify-content: space-evenly;
	list-style: none;
}

nav li {
	padding: 1rem 2rem;
}

nav a {
	text-decoration: none;
	color: var(--secondary-color);
}

nav li:hover {
	background-color: var(--background-color-dark);
	border-radius: 10px;
}
/* endregion */

/* #region MAIN */
main {
	padding-top: 80px;
}

main hr {
	border-top: 7px solid var(--tertiary-color);
	width: 3rem;
	margin: 0 auto;
}
/* #endregion */

/* #region SECTIONS */
section {
	display: block;
	/* Section height = Viewport height - header height */
	height: calc(100vh - 80px);

	scroll-margin-top: 80px;
	padding: 50px 80px;
}

section:not(#home) {
	height: fit-content;
}
/* #endregion */

/* #region HOME */
#home {
	display: flex;
	justify-content: center;
	align-items: center;

	background: url('/img/home-banner.png') no-repeat center center fixed;
	background-size: cover;

	/* Fuente: https://stackoverflow.com/a/30291576 */
	position: relative;
}

.home-banner {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;

	background-color: var(--shadow-color-dark);
	opacity: 0.9;

	padding: 1rem;

	/* Fuente: https://stackoverflow.com/a/30291576 */
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.home-banner img {
	height: 5rem;
}

.home-banner h1,
.home-banner h2 {
	color: var(--color-white);
	text-align: center;
	margin: 0 auto;
}
/* #endregion */

/* #region FILM CARDS */
.card-container {
	display: flex;
	flex-direction: row;
	padding-top: 20px;

	gap: 2rem;
}

.card {
	width: 300px;

	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;

	padding: 5px 5px;
	border-radius: 10px;
	cursor: pointer;

	box-shadow: 0px 4px 7px var(--shadow-color-normal);
	overflow: hidden;
	position: relative;
}

.poster {
	width: 100%;

	border-radius: 10px;

	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 1rem;
}

.poster img {
	height: 300px;
	width: 200px;
	margin: auto;
}

.star-rating {
	color: var(--tertiary-color);
	font-size: 1.25rem;
	font-weight: var(--body-font-weight-bold);

	margin-bottom: 1rem;
}

.awards {
	color: var(--tertiary-color);
	font-size: 1rem;
	font-weight: var(--body-font-weight-normal);

	margin-bottom: 1rem;
}

.award-icon {
	font-size: 1.5rem;
}

.fecha-estreno {
	width: 200px;
	padding: 5px;
	margin-bottom: 1rem;
	background-color: var(--tertiary-color);
	color: var(--color-white);
}

.synopsis {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;

	transition: all 0.5s ease-in-out;
	padding: 40px 25px;
	box-sizing: border-box;
	clip-path: circle(0% at 100% 100%);

	background-color: var(--shadow-color-semi-dark);
}

.synopsis p {
	font-size: 1rem;
	color: var(--primary-color-light);
}

.card:hover .synopsis {
	transition: all 0.5s ease-in-out;
	clip-path: circle(75%);
}

.card:hover .poster {
	filter: blur(10px);
}
/* #endregion */

/* #region STAR OF THE WEEK */
.star-container {
	display: flex;
	flex-direction: column;
	height: fit-content;
}

.star-profile {
	height: 100%;

	display: flex;
	flex-direction: row;
	position: relative;
	align-items: center;

	padding: 1rem;
	margin: 2rem 0;
	gap: 3rem;
}

.star-bio {
	width: 800px;
}

.portrait img {
	height: 250px;
	border-radius: 30%;
}

.comments {
	width: auto;

	display: flex;
	flex-direction: row;
	align-items: center;

	gap: 2rem;
}

.comment {
	max-width: 400px;
	height: 100%;
	padding: 15px 15px;

	font-style: italic;
	color: var(--secondary-color);
}

.comment-by {
	margin: 0.5rem 1rem;

	font-weight: var(--body-font-weight-bold);
	text-align: right;
}

.quotation-mark {
	font-weight: var(--body-font-weight-bold);
}
/* #endregion */

/* #region FOOTER */
footer {
	height: fit-content;
	padding: 30px 80px;

	background-color: var(--background-color-dark);

	display: flex;
	flex-direction: column;
}

#contact-form {
	width: 500px;
	max-width: 100%;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 10px 0;
}

input,
textarea {
	width: 100%;
	margin-bottom: 1rem;
	padding: 5px;
	border: 1px solid var(--primary-color);
	border-radius: 5px;
	color: var(--primary-color);
}

.btn {
	cursor: pointer;

	background-color: var(--primary-color);
	color: #f2f2f2;
	font-size: 1.25rem;
	width: fit-content;
	height: 40px;
	padding: 0 2rem;
	border: none;
	border-radius: 20px;
	transition: color 0.5s;
}

.btn:hover {
	background-color: var(--primary-color-light);
}

.contact-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.contact-form-container,
.sns-container {
	width: 40vw;
	align-items: center;
}

.sns-container a {
	margin-right: 2rem;
}

.sns-container i {
	color: var(--primary-color);
}

footer hr {
	border-top: 2px solid var(--tertiary-color);
	margin: 20px 0px;
}

.copyright {
	color: var(--primary-color);
	font-size: 0.75rem;
	font-weight: var(--body-font-weight-light);

	display: flex;
	flex-direction: column;
	text-align: center;
}

.copyright a {
	color: var(--tertiary-color);
}

.fa-brands {
	width: 45px;
	color: var(--primary-color);
	cursor: pointer;
}

.fa-brands:hover {
	color: var(--color-white);
}

.fa-brands:active {
	color: var(--primary-color-light);
}
/* #endregion */

/* #region FLOATING BUTTON */
#btn-ir-arriba {
	cursor: pointer;

	position: fixed;
	bottom: 20px;
	right: 20px;

	height: 50px;
	width: 50px;
	border-radius: 25px;
	border: none;
	background-color: var(--secondary-color);

	box-shadow: 0px 12px 7px var(--shadow-color-normal);
	transition: 100ms ease;
}

#btn-ir-arriba:hover {
	background-color: var(--secondary-color-light);
	transform: translateY(-0.5rem);
}

#btn-ir-arriba svg {
	stroke: var(--background-color);
	stroke-width: 2px;
	width: 25px;
	fill: none;
}
/* #endregion */
