/* USO TEMPORAL. ELIMINAR SECCIÓN AL FINAL DEL PROYECTO */
#PALETA_DE_COLORES {
	color: #bab0a2 #344150 #e1c6a0 #3a5d56;
}

/* GENERAL */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	background-color: #bab0a2;

	font-family: 'Lato', sans-serif;
	font-size: 18px;
	font-weight: 400;
	color: #344150;
}

p {
	margin: 10px 0px;
}

/* HEADER */
header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	z-index: 8;

	position: fixed;
	width: 100%;
	height: 80px;

	background: #bab0a2;
	box-shadow: 0 1px 3px rgba(58, 56, 63, 0.75);
}

#logo {
	height: 60px;
	width: auto;
	display: flex;
	margin: 10px;
}

#logo > img {
	height: auto;
	padding: 3px;
}

nav {
	height: 60px;

	display: flex;
	justify-content: space-between;
	align-items: center;

	font-size: 1.3rem;
	font-weight: 700;
}

nav ul {
	display: flex;
	justify-content: space-evenly;
	list-style: none;
}

nav li {
	padding: 1rem 2rem;
}

nav a {
	text-decoration: none;
	color: #3a5d56;
}

nav li:hover {
	background-color: rgba(225, 198, 160, 0.5);
	border-radius: 10px;
}

/* CONTENIDO */
main {
	padding-top: 80px;
}

section {
	display: block;
	/* Section height = Viewport height - header height */
	height: calc(100vh - 80px);
	/* height: 100vh; */
	scroll-margin-top: 80px;
	padding: 50px 80px;
}

section > hr {
	border-top: 7px solid #344150;
	width: 3rem;
	margin: auto;
}

h1,
h2,
h3 {
	font-family: 'Playfair Display', serif;
	margin: 10px 0px;
	color: #3a5d56;
}

h1 {
	font-size: 7rem;
	font-weight: 600;
}

h2 {
	font-size: 3rem;
	font-weight: 600;
}
h3 {
	font-size: 2rem;
	font-weight: 400;
}

#home {
	display: flex;
	justify-content: center;
	align-items: center;

	background: url('/img/home-banner.png') no-repeat center center fixed;
	background-size: cover;

	/* Fuente: https://stackoverflow.com/a/30291576 */
	position: relative;
}

.home-banner {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;

	background-color: rgba(6, 5, 3, 1);
	opacity: 0.9;

	padding: 1rem;

	/* Fuente: https://stackoverflow.com/a/30291576 */
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.home-banner img {
	height: 5rem;
}

.home-banner h1,
.home-banner h2 {
	color: #f2f2f2;
	text-align: center;
}

/* FOOTER */
footer {
	height: fit-content;
	padding: 30px 80px;

	display: flex;
	flex-direction: column;
}

footer .row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

footer .col {
	width: 40vw;
}

footer hr {
	border-top: 1px solid #344150;
	margin: 20px 0px;
}

.copyright {
	color: #344150;
	font-size: 0.75rem;
	font-weight: 300;

	display: flex;
	flex-direction: column;
	text-align: center;
}

.copyright > a {
	color: #3a5d56;
}

#btn-ir-arriba {
	cursor: pointer;

	position: fixed;
	bottom: 20px;
	right: 20px;

	height: 50px;
	width: 50px;
	border-radius: 25px;
	border: none;
	background-color: #3a5d56;

	box-shadow: 0px 12px 7px rgba(58, 93, 86, 0.25);
	transition: 100ms ease;
}

#btn-ir-arriba:hover {
	background-color: #344150;
	transform: translateY(-0.5rem);
}

#btn-ir-arriba svg {
	stroke: #bab0a2;
	stroke-width: 2px;
	width: 25px;
	fill: none;
}
